.rating input{
    display: none;
    position:absolute;
}
.rating{
    width: 10%;
}
.rating label {
    float:right;
    
    
}

.rating input:checked ~ label,
.rating label:hover ~ label,
.rating label:hover
{

    color:#ea0;
}
.oculto{
    display:none;
}